/* -----------------------------
   GOOGLE FONTS
------------------------------ */
@import url('https://fonts.googleapis.com/css2?family=TASA+Orbiter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

/* -----------------------------
   TAILWIND
------------------------------ */
@import "tailwindcss";

/* -----------------------------
   LOCAL FONTS
------------------------------ */

@font-face {
  font-family: 'Inter';
  src: url('../app/fonts/Inter.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Chillax';
  src: url('/fonts/Chillax-Variable.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Humane-Bold';
  src: url('/fonts/Humane-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter Display Bold";
  src: url("/fonts/InterDisplay-Bold.ttf");
}

@font-face {
  font-family: "Inter Display";
  src: url("/fonts/InterDisplay-Regular.ttf");
}

@font-face {
  font-family: "DM Mono";
  src: url("/fonts/DMMono-Light.ttf");
}

/* -----------------------------
   THEME — ALL IN ONE PLACE
------------------------------ */
@theme {
  --font-inter: 'Inter', sans-serif;
  --font-tasa: 'TASA Orbiter', sans-serif;
  --font-geist: 'Geist', sans-serif;
  --font-humane: 'Humane-Bold', sans-serif;
  --font-instrument: 'Instrument Sans', sans-serif;
  --font-display: "Bitcount Grid Single", sans-serif;
  --font-lexend: "Lexend", sans-serif;
  --font-chillax: "Chillax", sans-serif;
  --font-inter-display-bold: "Inter Display Bold", sans-serif;
  --font-inter-display: "Inter Display", sans-serif;
  --font-dm-mono: "DM Mono", monospace;
}
